.logoutform {
    margin-left: 10%;
    margin-top: 5%;
    background-color: rgb(21, 29, 22);
    width: 60%;
    border-radius: 40px;
  }
  .logoutform h1 {
    color: antiquewhite;
    margin: 20px;
    margin-left: 60px;
    padding: 20px;
    width: 75%;
  }
  .logoutform h3 {
    color: antiquewhite;
    margin: 20px;
    margin-left: 60px;
    padding: 20px;
    width: 75%;
  }
  
  .logoutform button {
    color: rgb(24, 26, 32);
    margin: 20px;
    margin-left: 600px;
    padding: 15px;
    width: 20%;
    background-color: rgb(7, 247, 19);
  }
  .logoutform user.name {
    margin-left: 30%;
    margin-top: 10%;
    background-color: rgba(13, 94, 160, 0.945);
    width: 75%;
    border-radius: 5px;
  }